.top-nav {
    display: flex;
    align-items: center;
    padding: 1.2rem 2rem;
    border-radius: 2rem 2rem 0 0;
    list-style: none;
    background-color: var(--glass);
}

.top-nav .profile {
    cursor: pointer;
    color: var(--black);
    position: absolute;
    right: 3.5rem;
}

.profile:hover {
    color: var(--activeItem);
}

.Heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    text-align: left;
}

.sidebar {
    width: 100%;
    height: 86.5vh;
    border-radius: 0 0 0 2rem;
    transition: all 300ms ease;
    padding: 1px 0 0 0;
    z-index: 100;
    background-color: var(--glass);
}

.sidebar-item {
    padding: .75em 1.7rem;
    display: block;
    transition: background-color .15s ease-in-out;
    text-align: left;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.sidebar-item:hover {
    background-color: var(--activeItem);
    border-radius: 0.7rem;
    font-weight: bold;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.3em;
}

.sidebar-title h3{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
}

.sidebar-title span i {
    display: inline-block;
    width: 2em;
}

.sidebar-title .toggle-btn {
    cursor: pointer;
    transition: tramsform 0.3s ease;
}

.sidebar-item.open .sidebar-title .toggle-btn {
    transform: rotate(180deg);
}

.sidebar-content {
    padding: .20em;
    height: 0;
    overflow: hidden;
    cursor: pointer;
}

.sidebar-item.open .sidebar-content {
    height: auto;
    transition: height 0.3s ease;
}

.sidebar-item.plain {
    font-weight: 500;
    font-size: 1.3em;
    text-decoration: none;
    color: black;
}

.sidebar-item.plain i {
    display: inline-block;
    width: 2em;
}

.active{
    background-color: var(--activeItem);
    border-radius: 0.7rem;
    font-weight: bold;
}

.logout {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    cursor: pointer;
}

.sidebar-item.logout:hover,
.sidebar-item.logout.hover {
    width: 17.2%; /* Adjust the width as needed */
}

.drop {
    position: absolute;
    top: 5em;
    right: 3.5em;
    width: 10%;
    height: 16%;
    opacity: 5;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: var(--glass);
    border-radius: 0.7rem 0 0.7rem 0.7rem;
}

.empty {
    display: none;
}

.drop-list span{
    display: flex;
    text-align: left;
    margin: 21px 20px;
    gap: 15px;
    font-weight: 600;
    cursor: pointer !important;
}

.drop-list span.hover{
    background-color: var(--activeItem);
}

.admin-heading{
    text-align: left;
    margin: 2rem;
    font-size: 1.5em;
}

.login-table{
    width: 98%;
    background-color: whitesmoke;
    border-radius: .7rem;
    border-color: black;
}

.login-table > thead > tr > th{
    padding: 10px;
    background-color: var(--activeItem);
    border-radius: .7rem .7rem 0 0;
}

.login-table > tbody > tr {
    font-size: 1rem;
}

.login-table > tbody > tr > td{
    padding: 15px 10px;
    text-align: left;
}

.addProduct-Heading{
    text-align: center;
    margin: 2rem;
    font-size: 1.5em;
}

.form-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 10px 40px;
    background: white;
    border-radius: .7em;
}

.form-container label,
.form-container input,
.form-container select,
.form-container textarea {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form-container .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-container .form-row .form-column {
    width: calc(50% - 5px);
}

.form-container .form-row .form-column:last-child {
    margin-left: 10px;
}

.form-container .form-row .form-column.full-width {
    width: 100%;
    margin-left: 0;
}

.add-product-form{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 80px 0;
    resize: vertical;
}

.addProduct-textbox{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.addProduct-dropdown{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.addProduct-textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.addProduct-image{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.Required{
    color: red;
    margin-left: 2px;
}

.Required1{
    color: red;
    position: relative;
    font-size: 15px;
    top: 70px;
    right: 385px;
}

.add-product{
    width: 100%;
    background-color: var(--activeItem);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    cursor: pointer;
}

.add-product:hover{
    background-color: white;
}

.ourproduct{
    text-align: left;
    margin: 2rem;
    font-size: 1.5em;
}

.product-table{
    width: 98%;
    background-color: whitesmoke;
    border-radius: .7rem;
    border-color: black;
}


.product-table > thead > tr > th{
    padding: 10px;
    background-color: var(--activeItem);
    border-radius: .7rem .7rem 0 0;
}

.product-table > tbody > tr {
    font-size: 1rem;
}

.product-table > tbody > tr > td{
    padding: 15px 10px;
    text-align: left;
}

.sidebar-icon-open{
    display: none;
}


@media screen and (max-width: 900px) {
    .top-nav {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        border-radius: 2rem 2rem 0 0;
        list-style: none;
        background-color: var(--glass);
    }

    .top-nav .profile {
        cursor: pointer;
        color: var(--black);
        position: absolute;
        right: 3.5rem;
    }

    .sidebar {
        width: 25%;
        height: 88vh;
    }

    .sidebar-open{
        width: 100%;
        height: 88vh;
    }

    .sidebar-title h3{
        display: none;
    }

    .sidebar-title-open h3 {
        display: flex;
    }


    .h3-title{
        display: none;
    }

    .h3-title-open{
        display: flex;
    }

    .Heading {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--black);
        text-align: left;
    }

    .sidebar-title .toggle-btn {
        cursor: pointer;
        transition: tramsform 0.3s ease;
        display: none;
    }

    .sidebar-content {
        padding-right: 70px;
        height: 0;
        overflow: hidden;
        cursor: pointer;
        margin-left: -30px;
    }

    .sidebar-content .active{
        width: 70px;
    }

    .sidebar-item.open .sidebar-content {
        height: auto;
        transition: height 0.3s ease;
    }
    .sidebar-title span i {
        display: inline-block;
        width: 2em;
    }

    .sidebar-icon-open{
        display: flex;
    }

}